@import "./prism.css";

:root {
    --scrollbar-thumb-color: oklch(82.968% 0.00009 271.152);
}

.dark {
    --scrollbar-track-color: oklch(21.779% 0.00002 271.152);
    --scrollbar-thumb-color: oklch(36.002% 0.00004 271.152);
    --scrollbar-thumb-hover-color: oklch(45.35% 0.00165 285.873);
}

/* === CUSTOM SCROLLBAR STYLES === */

/* General page scrollbar - Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 8px;
    transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
}

html {
    scrollbar-width: auto;
    scrollbar-color: var(--scrollbar-thumb-color) transparent;
}
body {
    padding: 0;
    margin: 0;
    min-height: 100dvh;
    background-color: var(--mjo-background-color);
    color: var(--mjo-foreground-color);
    font-family: var(--font-montserrat);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
