/* Override Shiki's default styling with MJO variables */
body.light {
    --shiki-color-purple: #74248d;
    --shiki-color-green: #3e9732;
    --shiki-color-red: #bd434d;
    --shiki-color-blue: #26282c;
    --shiki-color-cyan: #1c7dcc;
    --shiki-color-cyan2: #338994;
    --shiki-color-orange: #bb7b1a;
    --shiki-color-gray: #757575;
}
body.dark {
    --shiki-color-purple: #c678dd;
    --shiki-color-green: #98c379;
    --shiki-color-red: #e06c75;
    --shiki-color-blue: #abb2bf;
    --shiki-color-cyan: #61afef;
    --shiki-color-cyan2: #56b6c2;
    --shiki-color-orange: #e5c07b;
    --shiki-color-gray: #7f848e;
}

.astro-code {
    padding: 1rem !important;
    margin: 0 !important;
    overflow-x: auto !important;
    background: var(--mjo-background-color-card) !important;
    color: var(--mjo-foreground-color) !important;
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Monaco, "Cascadia Code", "Roboto Mono", Consolas, "Courier New", monospace !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    border: none !important;
    border-radius: 0 !important;
}
.astro-code span[style*="color:#C678DD"] {
    color: var(--shiki-color-purple) !important;
}
.astro-code span[style*="color:#E06C75"] {
    color: var(--shiki-color-red) !important;
}
.astro-code span[style*="color:#98C379"] {
    color: var(--shiki-color-green) !important;
}
.astro-code span[style*="color:#ABB2BF"] {
    color: var(--shiki-color-blue) !important;
}
.astro-code span[style*="color:#E5C07B"] {
    color: var(--shiki-color-orange) !important;
}
.astro-code span[style*="color:#61AFEF"] {
    color: var(--shiki-color-cyan) !important;
}
.astro-code span[style*="color:#7F848E"] {
    color: var(--shiki-color-gray) !important;
}
.astro-code span[style*="color:#56B6C2"] {
    color: var(--shiki-color-cyan2) !important;
}
code.inline {
    white-space: nowrap;
    background-color: var(--mjo-background-color-card-high);
    padding: 3px 6px;
    color: var(--mjo-foreground-color);
    border-radius: 3px;
}
code.inline.wrap {
    white-space: normal;
    line-height: 2em;
}
