---
import Codeblock from "../ui/codeblock/Codeblock.astro";
import CodeblockButton from "../ui/codeblock/CodeblockButton.astro";
import CodeblockPre from "../ui/codeblock/CodeblockPre.astro";
---

<div class="quickstart-container">
    <div class="quickstart-content">
        <Codeblock showHeader>
            <CodeblockButton slot="header" content="npm" active aria-label="npm command">npm</CodeblockButton>
            <CodeblockButton slot="header" content="yarn" aria-label="yarn command">yarn</CodeblockButton>
            <CodeblockButton slot="header" content="pnpm" aria-label="pnpm command">pnpm</CodeblockButton>
            <CodeblockPre language="bash" content="npm" active>npm install mjo-litui</CodeblockPre>
            <CodeblockPre language="bash" content="yarn">yarn add mjo-litui</CodeblockPre>
            <CodeblockPre language="bash" content="pnpm">pnpm install mjo-litui</CodeblockPre>
        </Codeblock>
    </div>
</div>

<style>
    .quickstart-container {
        margin: 50px auto 0;
        max-width: 400px;
    }

    .quickstart-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    .quickstart-description {
        font-size: 1rem;
        color: var(--mjo-text-color);
        margin-bottom: 1rem;
    }
    .hero-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        margin-top: 40px;
    }
    .hero-action {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
    .hero-action.right {
        justify-content: flex-start;
    }
</style>
