---
export interface Props {
    variant?: "default" | "secondary" | "destructive" | "outline";
}

const { variant = "default" } = Astro.props;

// Force Tailwind to include these utility classes
// bg-destructive text-destructive-foreground bg-destructive/80 ring-primary ring-offset-2
---

<span class={`badge badge-${variant}`}>
    <slot />
</span>

<style>
    .badge {
        display: inline-flex;
        align-items: center;
        border-radius: 999px;
        border: solid 1px transparent;
        padding-inline: 10px;
        padding-block: 2px;
        font-size: 0.85em;
        font-weight: 500;
        transition: all 0.2s;
    }

    .badge:focus-visible {
        outline: solid 2px var(--mjo-primary-color);
        outline-offset: 2px;
    }
    .badge-default {
        border-color: transparent;
        background-color: var(--mjo-primary-color);
        color: var(--mjo-primary-foreground-color);
    }
    .badge-default:hover {
        background-color: var(--mjo-primary-color-600);
    }

    .badge-secondary {
        border-color: transparent;
        background-color: var(--mjo-secondary-color);
        color: var(--mjo-secondary-foreground-color);
    }

    .badge-secondary:hover {
        background-color: var(--mjo-secondary-color-600);
    }

    .badge-destructive {
        border-color: transparent;
        background-color: var(--mjo-color-error);
        color: white;
    }

    .badge-destructive:hover {
        opacity: 0.8;
    }

    .badge-outline {
        color: var(--mjo-foreground-color);
    }
</style>
