---
interface FeatureCardProps {
    icon: string;
    title: string;
    color: "primary" | "secondary";
}

import { BsBox } from "mjo-icons/bs";

const { icon = BsBox, title, color = "primary" } = Astro.props as FeatureCardProps;

const classLists = "card " + color;
---

<article class={classLists}>
    <header class="header">
        <div class="icon" set:html={icon} />
        <h3 class="title">{title}</h3>
    </header>
    <p class="description">
        <slot />
    </p>
</article>

<style>
    .card {
        padding: 24px;
        background-color: var(--mjo-background-color-card);
        border-radius: var(--mjo-radius-large);
        box-shadow: var(--mjo-box-shadow-2);
    }
    .header {
        position: relative;
        display: flex;
        gap: 16px;
        margin-bottom: 24px;
    }
    .icon {
        flex-grow: 0;
        flex-basis: 56px;
        border-radius: var(--mjo-radius-small) var(--mjo-radius-large) var(--mjo-radius-small) var(--mjo-radius-large);
        padding: 12px;
    }
    .primary .icon {
        color: var(--mjo-primary-color);
        background-color: var(--mjo-primary-color-alpha1);
    }
    .secondary .icon {
        color: var(--mjo-secondary-color);
        background-color: var(--mjo-secondary-color-alpha1);
    }
    .title {
        font-size: 1.1em;
        font-weight: 500;
        line-height: 1em;
        color: var(--mjo-foreground-color);
        font-weight: 600;
        display: flex;
        align-items: center;
    }
    .description {
        color: var(--mjo-foreground-color-low);
    }
</style>
