---
import Button from "./Button.astro";

import Moon from "@/icons/moon.svg";
import Sun from "@/icons/sun.svg";
---

<Button id="theme-toggle" variant="ghost" size="sm" aria-label="Toggle theme" title="Toggle theme">
    <span class="sr-only">Toggle theme</span>
    <Sun id="theme-icon-light" class="w-5 h-5 hidden dark:block" />
    <Moon id="theme-icon-dark" class="w-5 h-5 block dark:hidden" />
</Button>

<script>
    import { themeManager } from "@/utils/theme";

    const themeToggle = document.getElementById("theme-toggle");

    if (themeToggle) {
        themeToggle.addEventListener("click", () => {
            themeManager.toggleTheme();
        });
    }
</script>
